body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    height: 100vh;
  }
  
  
  .sidebar {
    width: 250px;
    background-color: #033B62;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin: 15px 0;
  }
  
  .sidebar ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .sidebar ul li a:hover {
    background-color: #555;
  }
  .sidebar ul {
    flex-grow: 1;
  }
  
  .sidebar-image {
    width: 100%; 
    margin-top: 400px; 
    margin-bottom: 20px; 
    padding-bottom: 30px; 
  }
  
  
  .main-content {
    flex-grow: 1;
    padding: 20px;
  }
  
  header h1 {
    margin: 0;
    background-color: #033B62;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  section h2 {
    color: #1a1a2e;
    margin-bottom: 10px;
  }
  
  section p {
    font-size: 1rem;
    line-height: 1.5;
  }
  form {
    width: 400px; 
    margin: 0 auto; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  button {
    padding: 10px 20px;
    background-color: #98B4D4; 
    color: white; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .dropdown {
    margin: 20px 0;
  }
  
  label {
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
  }
  
  .asignaturas-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .asignaturas-list li {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 8px;
    border-radius: 4px;
    background-color: #f9f9f9;
  }
  
  /* Estilo para cuando el ratón pasa sobre una opción */
  .asignaturas-list li:hover {
    background-color: #f1f1f1;
    border-color: #888;
    cursor: pointer;
  }